<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    <strong>View Check: 7</strong>
  </p>
  <p>
    <button ion-button (click)="openUpdatePage()">Live Updates</button>
  </p>
</ion-content>
