<!--
  Generated template for the UpdatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Live Update</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding overflow-scroll="true">

  <p>
    <button ion-button (click)="getAppInfo()">App Info</button>
  </p>
  <div *ngIf="dataAppInfo">
    <p>platform: {{ dataAppInfo.platform }}</p>
    <p>platformVersion: {{ dataAppInfo.platformVersion }}</p>
    <p>version: {{ dataAppInfo.version }}</p>
    <p>bundleName: {{ dataAppInfo.bundleName }}</p>
    <p>bundleVersion: {{ dataAppInfo.bundleVersion }}</p>
  </div>
  <hr />

  <p>
    <button ion-button (click)="deployInfo()">Info</button>
  </p>
  <div *ngIf="dataInfo">
    <p>deploy_uuid: {{ dataInfo.deploy_uuid }}</p>
    <p>channel: {{ dataInfo.channel }}</p>
    <p>binary_version: {{ dataInfo.binary_version }}</p>
  </div>
  <hr />

  <p>
    <button ion-button (click)="deployCheck()">Check</button>
  </p>
  <p *ngIf="dataCheck">{{ dataCheck }}</p>
  <hr />

  <p>
    <button ion-button (click)="deployDownload()">Download</button>
  </p>
  <p *ngIf="dataDownload">{{ dataDownload }}</p>
  <hr />

  <p>
    <button ion-button (click)="deployExtract()">Extract</button>
  </p>
  <p *ngIf="dataExtract">{{ dataExtract }}</p>
  <hr />

  <p>
    <button ion-button (click)="deployRedirect()">Redirect</button>
  </p>
  <hr />

  <p>
    <button ion-button (click)="deployGetVersions()">Get Versions</button>
  </p>
  <p *ngFor="let version of dataVersions">
    <button ion-button (click)="deployDeleteVersion(version)">Delete</button> {{ version }}
  </p>

</ion-content>
